:root {
  --margin-top-bottom: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  color: #ddd;
}

.header {
  margin-top: var(--margin-top-bottom);
}

.footer {
  margin-bottom: var(--margin-top-bottom);
}
